* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #333;
}
li {
    list-style: none;
}
body {
    background-color: #f3f5f7;
}
.heard {
    height: 100px;
    background-color: #fff;
}
.h_body {
    display: flex;
    margin: 0 auto;
    padding-top: 30px;
    width: 1200px;
    height: 71px;
}
.h_body>.logo>h1>a {
    display: block;
    width: 195px;
    height: 41px;
    background-image: url(./images/logo.png);
    font-size: 0;
}
.h_nav {
    margin-left: 102px;
}
.h_nav ul {
    display: flex;
    width: 280px;
    height: 41px;
}
.h_nav li {
    margin-right: 26px;
    
}
.h_nav li>a {
    display: inline-block;
    height: 39px;
    font-size: 19px;
    line-height: 27px;
    padding: 6px 8px;
}
.h_nav li:first-child , .h_nav li>a:hover {
    border-bottom: 2px solid skyblue;
}
.h_search {
    display: flex;
    margin-left: 64px;
    padding: 0 12px 0 19px;
    border-radius: 20px;
    background-color: #f3f5f7;
}
.h_search input {
    display: flex;
    width: 365px;
    height: 40px;
    border: none;
    background-color: #f3f5f7;
    outline: none;
}
.h_search input::placeholder {
    font-size: 14px;
    color: #999;
}
.h_search a {
    align-self: center;
    width: 16px;
    height: 16px;
    background-image: url(./images/搜索.png);
}
.user {
    margin: 4px 0 0 32px;
}
.user img {
    margin-right: 7px;
    vertical-align: middle;
}
.user a {
    display: flex;
    width: 121.16px;
    color: #666;
}
.user a span {
    align-self: center;
}
.banner {
    
    background-color: #0092cb;
}
.ban_body {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    height: 420px;
    background-image: url(./images/banner.png);
}
.ban_body .left {
    padding: 3px 20px;
    width: 190px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.42);
}
.ban_body .left a {
    display: inline-block;
    width: 150px;
    height: 46px;
    color: white;
    line-height: 46px;
}
.ban_body .left a::after {
    content: ">";
    float: right;
}
.ban_body .left a:hover {
    color: skyblue;
}
.ban_body .right {
    margin-top:60px ;
    width: 218px;
    height: 305px;
    background-color:#209dd5;
    border-radius: 10px;
}
.ban_body .right h3 {
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    font-weight: 400;
    color: white;
    font-size: 15px;
}
.ban_body .right>div {
    padding: 14px;
    height: 257px;
    background-color: white;
    border-radius: 10px;
}
.ban_body .right ul li {
    margin-bottom: 12px;
    width: 190px;
    height: 53px;
    border-bottom: 1px solid #e6e6e6;
}
.ban_body .right div>a {
    display: inline-block;
    width: 190px;
    height: 32px;
    background-color: #00a4ff;
    border-radius: 16px;
    text-align: center;
    line-height: 32px;
    color: white;
    font-size: 14px;
}
.ban_body .right div li a span {
    font-size: 12px;
    color: #7d7d7d;
}
.ban_body .right div li a  span:first-child {
    display: inline-block;
    width: 190px;
    height: 20px;
    font-size: 14px;
    color: #333;
    font-weight: 700;
}
.ban_body .right div li a>span:nth-child(2) {
    color: #00a4ff;
} 
.recommend {
    display: flex;
    margin: 12px auto 0;
    padding: 0 20px;
    width: 1200px;
    height: 60px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
}
.recommend h3 {
    height: 60px;
    font-size: 16.38px;
    font-weight: 400;
    color: #00a4ff;
    line-height: 60px;
}
.recommend ul {
    display: flex;
    /* 分开h3和a标签，让其独占剩余的flex弹性容器 */
    flex: 1;
    width: 1028px;
    font-size: 18px;
    color: #333;
}
.recommend ul li {
    line-height: 60px;
}
.recommend ul li a {
    padding: 0 24px;
    border-right: 1px solid #e6e6e6;
}
.recommend>a {
    /* float: right; */
    font-size: 16px;
    color: #00a4ff;
    line-height: 60px;
}
.course {
    margin: 15px auto 0;
    width: 1200px;
    height: 630px;
}
.cor_head {
    display: flex;
    justify-content: space-between;
    line-height: 60px;
}
.cor_head h3 {
    width: 84px;
    height: 60px;
    font-size: 21px;
    color: #333;
    font-weight: 400;
}
.cor_head a {
    font-size: 14px;
    color: #999;
}
.cor_head a::after {
    content: ">";
    margin-left: 10px;
}
.cor_body ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
/* 小方格 */
.cor_body ul li {
    margin-bottom: 14px;
}
.cor_body>ul>li>a>div {
    width: 228px;
    height: 115px;
    color: #333;
    font-size: 14px;
    padding: 20px;
    background-color: #fff;
}
.cor_body>ul>li>a>div>h4 {
    height: 40px;
    margin-bottom: 13px;
    font-weight: 400;
}
.cor_body>ul>li>a>div>p {
    color: #999;
}
.cor_body>ul>li>a>div>p>span {
    color: #fa6400;
}
.client,.ai,.je{
    margin: 15px auto 0;
    width: 1200px;
}
.cli_head {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 60px;
    line-height: 60px;
    color: #333;
}
.cli_head h3 {
    font-size: 21px;
    font-weight: 400;
}
.cli_head ul {
    display: flex;
}
.cli_head ul li a {
    margin: 0 30px;
    font-size: 16px;
}
.cli_head ul li:first-child a {
    color: #00a4ff;
}
.cli_head>a {
    color: #999;
    font-size: 14px;
}
.cli_head>a::after {
    content: ">";
    margin-left: 10px;
}
.cli_body {
    display: flex;
    justify-content: space-between;
    height: 400px;
}
.footer {
    margin-top: 60px;
    padding-top: 60px;
    height: 273px;
    background-color: #fff;
}
.f_body {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
    height: 156px;
}
.f_left {
    width: 440px;
}
.f_left p {
    margin-top:  24px;
    font-size: 12px;
    color: #999;
}
.f_left a {
    display: inline-block;
    margin-top: 14px;
    width: 120px;
    height: 36px;
    font-size: 14px;
    color: #00a4ff;
    text-align: center;
    line-height: 36px;
    border: 1px solid #00a4ff;
}
.f_right {
    display: flex;
    justify-content: space-between;
    width: 516px;
    height: 156px;
    font-size: 14px;
    color: #333;
}
.f_right dl:first-child {
    width: 80px;
}
.f_right dl:nth-child(2) {
    width: 112px;
}
.f_right dl:last-child {
    width: 64px;
}
.f_right dl dt {
    font-size: 16px;
    margin-bottom: 14px;
}
.f_right dl dd {
    display: inline-block;
    height: 21px;
}